.overlay {
  position: absolute;
  background-color: whitesmoke;
  left: 1rem;
  right: 1rem;
  text-align: center;
  padding: 1rem;
}

.overlay__content {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.overlay__hide-btn {
  text-align: center;
  color: white;
  background: orangered;
  font-weight: 600;
  padding: 0.4rem 0.6rem;
  border-radius: 5%;
  opacity: 0.8;
  cursor: pointer;
  font-size: 0.8rem;
}

.overlay__hide-btn:hover {
  opacity: 1;
}

.content__image-container {
  width: 20rem;
  height: 20rem;
  border: 1px solid;
  text-align: center;
  margin-bottom: 1rem;
}

.image-container__info {
  color: grey;
  font-weight: bold;
}
